{% url 'artistprofile:list' as artist_url %}
{% url 'blog:list' as blog_url %}
{% url 'testimonial:list' as testimonial_url %}
{% url 'contact:contact' as contact_url %}
{% url 'products:list' as products_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'logout' as logout_url %}
{% load static %}


<div class="navbar">
  <a href="{{ artist_url }}">
    <img src="{% static 'img/lcl.png' %}" style="height: 50px;" alt="Tattoo Shop Website" />
    Tattoo Shop Website
  </a>

  <ul>
    <li>
      <a href="{{ artist_url }}">Artists</a>
    </li>
    <li>
      <a href="{{ blog_url }}">Blog</a>
    </li>
    <li>
      <a href="{{ testimonial_url }}">Testimonials</a>
    </li>
    <li>
      <a href="{{ contact_url }}">Contact Us</a>
    </li>
    <li>
      <a href="{{ products_url }}">In-Store Products</a>
    </li>

    {% if request.user.is_authenticated %}
    <li>
      <a href="{{ logout_url }}" tabindex="-1" aria-disabled="true">Logout</a>
    </li>
    {% else %}

    <li>
      <a href="{{ register_url }}" tabindex="-1" aria-disabled="true">Register</a>
    </li>
    <li>
      <a href="{{ login_url }}" tabindex="-1" aria-disabled="true">Login</a>
    </li>
    {% endif %}


  </ul>
</div>

<!-- 
<nav class=navbar>
    <a href="{{ artist_url }}">
      <img src="{% static 'img/lcl.png' %}" style="height: 50px;" alt="Tattoo Shop Website" />
      Tattoo Shop Website
    </a>

      <ul>
        <li>
          <a href="{{ artist_url }}">Artists</a>
        </li>
        <li>
          <a href="{{ blog_url }}">Blog</a>
        </li>
        <li>
          <a href="{{ testimonial_url }}">Testimonials</a>
        </li>
        <li>
          <a href="{{ contact_url }}">Contact Us</a>
        </li>
        <li>
          <a href="{{ products_url }}">In-Store Products</a>
        </li>

        {% if request.user.is_authenticated %}
        <li>
          <a href="{{ logout_url }}" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
        {% else %}

        <li>
          <a href="{{ register_url }}" tabindex="-1" aria-disabled="true">Register</a>
        </li>
        <li>
          <a href="{{ login_url }}" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        {% endif %}


      </ul>


</nav> -->