{% extends "base.html" %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" type="text/css" />

{% block content %}
<div class="container">
  <hr>


  <h1 class="text-center"> {{ object.artist }} </h1>

  <hr>
  <h4>ARTWORK</h4>
  <br>

  <div class="d-inline">
    {% for artworkobj in object.artwork.all %}
    {% if artworkobj %}
    <div class="d-inline">
      <a href="{{ request.artworkobj }}{% url 'artwork:detail' artworkobj.slug %}">
        <img src="{{artworkobj.image.url}}" width="30%" height="auto" style="margin: 10px;">
      </a>
    </div>
    {% else %}
    <h1> Coming Soon </h1>
  </div>

  {% endif %}
  {% endfor %}
</div>
</div>
<hr>
<br>

<div class="container">
<h4>BLOG POST(S)</h4>
<br>
{% for post in object.blog_posts.all %}

<div class="card bg-secondary mb-4 mt-3 left top">
  <div class="card-body">
    <a href="{{ request.artist }}{% url 'blog:post_detail' post.slug %}" class="text-white">
      <h1>{{ post.title }} </h1>
    </a>

    <p class=" text-white">{{ post.created_on | date:"F d Y" }}</p>
    <hr />
    <br>
    <p>{{ post.content | slice:':100' }}...</p>
    <a href="{{ request.artist }}{% url 'blog:post_detail' post.slug %}" class="btn btn-primary">Read More</a>
  </div>
</div>
{% endfor %}
</div>
<hr>
<br>

<div class="container">
<h4>TESTIMONIAL(S)</h4>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    {% for review in object.customer_testimonials.all %}
    <div class="carousel-item text-center text-light mb-5 {% if forloop.first %} active{% endif %}">
      <p> {{ review.artwork }}</p>
      <hr>
      <p> {{review.artist }}</p>
      {% if review.artwork %}
      <a href="{{ request.artwork }}{% url 'artwork:detail' review.artwork.slug %}">
        <img src="{{ review.artwork.image.url}}" width="20%" height="10%">
      </a>
      {% else %}
      <h1> Coming Soon </h1>
      {% endif %}
      <br>
      <br>
      <p class="px-3">{{ review.testimony }}</p>
    </div>

    {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>



<br>
<br>
<br>

</div>
{% endblock %}