{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1 class="center-text"> {{ object.artist }} </h1>

  <h4 class="center-text">ARTWORK</h4>

  <div class="all-artwork-grid">
    {% for artworkobj in object.artwork.all %}
    {% if artworkobj %}
    <a class="artwork-img" href="{{ request.artworkobj }}{% url 'artwork:detail' artworkobj.slug %}">
      <img class="stock-image-size" src="{{artworkobj.image.url}}">
    </a>
    {% else %}
    <h1> Coming Soon </h1>
    {%endif%}
    {%endfor%}
  </div>








  <h4 class="center-text">BLOG POST(S)</h4>

  <div class="blog-post-card-grid">
    {% for post in object.blog_posts.all %}
    {% if post.status %}
    <div class="blog-card">
      <a class="blog-artist-post-title" href="{{ request.artist }}{% url 'blog:post_detail' post.slug %}"
        class="text-white">
        <h1>{{ post.title }} </h1>
      </a>

      <p class="blog-date" class=" text-white">{{ post.created_on | date:"F d Y" }}</p>
      <hr />
      <br>
      <p class="blog-content">{{ post.content | slice:':100' }}...</p>
      <div class="blog-button">
        <a class="blog-button-submit" href="{{ request.artist }}{% url 'blog:post_detail' post.slug %}">Read More</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>



  <h4>TESTIMONIAL(S)</h4>

  <div class="carousel-grid center-text">
    {% for review in object.customer_testimonials.all %}
    <div class="carousel-item {% if forloop.first %} active{% endif %}"></div>
    <p> {{ review.artwork }}</p> <!-- The title -->
    <hr>
    <p> {{review.artist }}</p>
    {% if review.artwork %}
    <a href="{{ request.artwork }}{% url 'artwork:detail' review.artwork.slug %}">
      <img class="stock-image-size" src="{{ review.artwork.image.url}}">
    </a>
    {% else %}
    <h1> Coming Soon </h1>
    {% endif %}
    <p>{{ review.testimony }}</p>
  </div>

  {% endfor %}

</div>

{% endblock %}