{% extends "base.html" %}
{% load static %}


{% block content %}

        <div class="col mt-3 left">
            {% for post in post_list %}
            <div class="card bg-secondary text-white mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-white h6">{{ post.author }} | {{ post.created_on | date:"F d Y" }} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}