{% extends "base.html" %}
{% load static %}


<link rel='stylesheet' href="{% static 'css/main.css' %}" >


{% block content %}
<div class="contact-container">

    <label for="firstName">First Name</label> {{form.customer_name}}
    <label for="phoneNumber">Phone Number:</label>   {{form.customer_phone}}
    <label for="emailAddress">Email Address:</label>   {{form.customer_email}}
   <label for="category">Category:</label>{{form.contact_dropdown_options}}
     <label for="subject">Subject:</label> {{form.contact_subject}}
     <label for="message"> Message:</label>{{form.contact_message}}

    <button class="contact-button" type="submit">Send Message</button>



</div>
{% endblock %}